<div class="modal-body" ng-controller="contactController as ctrl">

    <form name="loginForm" id="contactForm" class="cf">
        <div class="half left cf wow animated fadeIn" data-wow-delay=".5s">
            <input type="text" id="input-name" ng-model="email.name" placeholder="Name">
            <input type="email" id="input-email" ng-model="email.email" placeholder="Email address">
            <input type="text" id="input-subject" ng-model="email.subject" placeholder="Subject">
        </div>
        <div class="half right cf wow animated fadeIn">
            <textarea name="message" id="input-message" ng-model="email.message" placeholder="Message"></textarea>
            <button type="submit" id="input-submit" ng-click="ctrl.sendEmail(email)" class="btn btn-primary wide">Submit</button>
        </div>
    </form>

</div>