<div ng-if="!details">
  Loading results...
</div>

<div ng-if="details.Response==='True'">
  <img ng-src="{{ details.Poster=='N/A' ? 'http://placehold.it/150x220&text=N/A' : details.Poster }}" class="thumbnail movie-poster">

  <span class="title">
    <a href="http://imdb.com/title/{{ details.imdbID }}" target="_blank">{{ details.Title }}</a>
    <strong>IMDb Rating</strong>: <span class="label label-success">{{ details.imdbRating }}</span>

  <p><strong>Released on:</strong> {{ details.Released }} ({{ details.Runtime }})</p>

  <p>{{ details.Plot }}</p>

  <p class="details"><br><br>
      <strong>Directors</strong><br><span>{{ details.Director }}</span><br>
      <strong>Cast</strong><br><span>{{ details.Actors }}</span><br>
      <strong>Genre</strong><br><span>{{ details.Genre }}</span><br>

  </p>

  <p class="outer-p-3">
    <a ng-href="https://www.youtube.com/results?search_query={{ details.Title }}" target="_blank" class="btn btn-default btn-xs btn-info">Trailer</a>
  </p>
       <a class="btn btn-default btn-xs btn-info">Book Ticket</a>
</div>

<div ng-if="details.Response==='False'">
  No results found.
</div>
