<!DOCTYPE html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- get-showing-jqeury -->
    <script src="get-showing-jquery.js"></script>

    <link rel="stylesheet" href="get-showing.css">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#topPage"> <i class="fa fa-play-circle"></i> <span class="light">QA</span>Cinemas
            </a>
        </div>


        <div
                class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="hidden"><a ng-click="scrollTo('topPage')" href="#topPage" target="_self"></a></li>
                <li><a ng-click="scrollTo('whatson')" class="page-scroll" href="#whatson" target="_self">What's On</a>
                </li>
                <li><a ng-click="scrollTo('whatson')" class="page-scroll" href="#whatson" target="_self">Coming Soon</a>
                </li>
                <li><a ng-click="scrollTo('about')" class="page-scroll" href="#about" target="_self">About Us</a></li>
                <li><a ng-click="scrollTo('findus')" class="page-scroll" href="#findus" target="_self">Find Us</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="film-info" ng-controller="getFilmController as ctrl">

    <div class="row">
        <div class="col-xs-12 text-center padding-bottom-50">
            <h1>{{ctrl.film.title}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-6" id="carousel-bounding-box">
            <div class="carousel slide" id="myCarousel">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item" data-slide-number="0">
                        <img src="http://placehold.it/770x300&text=one"></div>

                    <div class="item" data-slide-number="1">
                        <img src="http://placehold.it/770x300&text=two"></div>

                    <div class="item" data-slide-number="2">
                        <img src="http://placehold.it/770x300&text=three"></div>

                    <div class="item" data-slide-number="3">
                        <img src="http://placehold.it/770x300&text=four"></div>

                    <div class="item" data-slide-number="4">
                        <img src="http://placehold.it/770x300&text=five"></div>

                    <div class="item" data-slide-number="5">
                        <img src="http://placehold.it/770x300&text=six"></div>
                </div><!-- Carousel nav -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

        <div class="col-xs-4">
            <div id="film-info" class="film-info-text">
                <p> {{ctrl.film.cast}}</p>
                <p>{{ctrl.film.certification}}</p>
                <p>{{ctrl.film.director}}</p>
                <p>{{ctrl.film.duration}}</p>
                <p>{{ctrl.film.genre}}</p>
                <p> {{ctrl.film.summary}}</p>
                <br>


                <!--var pathname = window.location.href;-->
                <p>Showings</p>
                <ul>
                    <li ng-repeat="showing in ctrl.film.showings">
                        <button><a href="#/BookingTest">{{showing.startTime}}</a></button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>

    <div class="row hidden-xs" id="slider-thumbs">
        <div class="col-xs-1"></div>
        <div class="col-xs-6 padding-top-100">
            <div class="row">
                <div class="col-xs-2">
                    <a class="thumbnail" id="carousel-selector-0"><img src="http://placehold.it/170x100&text=one"></a>
                </div>
                <div class="col-xs-2">
                    <a class="thumbnail" id="carousel-selector-1"><img src="http://placehold.it/170x100&text=two"></a>
                </div>
                <div class="col-xs-2">
                    <a class="thumbnail" id="carousel-selector-2"><img src="http://placehold.it/170x100&text=three"></a>
                </div>
                <div class="col-xs-2">
                    <a class="thumbnail" id="carousel-selector-3"><img src="http://placehold.it/170x100&text=four"></a>
                </div>
                <div class="col-xs-2">
                    <a class="thumbnail" id="carousel-selector-4"><img src="http://placehold.it/170x100&text=five"></a>
                </div>
                <div class="col-xs-2">
                    <a class="thumbnail" id="carousel-selector-5"><img src="http://placehold.it/170x100&text=six"></a>
                </div>
            </div>
        </div>
        <div class="col-xs-5"></div>
    </div>
</div><!--/Slider-->


<div id="footer" class="container footer">
    <div class="row chevSpace">
        <div class="col-xs-12 text-center">
            <a class="page-scroll" ng-click="scrollTo('topPage')"
               href="#topPage" target="_self"><i
                    class="fa fa-chevron-circle-up fa-2x"></i><br/> Back to Top</a>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-2 footercol">
            <h2>
                <span class="light">Get</span> In Touch
            </h2>
            <p>
                <a href="" data-toggle="modal" data-target="#contactUsModal"> <i
                        class="fa fa-comment" aria-hidden="true"></i> Contact Us
                </a> <a href="#"> <i class="fa fa-question-circle"
                                     aria-hidden="true"></i> FAQs
            </a>

            </p>

        </div>
        <div class="col-xs-2 footercol">
            <h2>
                <span class="light">Site</span> Links
            </h2>
            <p>
                <a href="#whatson"><i class="fa fa-ticket" aria-hidden="true"></i>
                    What's On</a> <a href="#whatson"><i class="fa fa-film"
                                                        aria-hidden="true"></i> Coming Soon</a> <a href="#"><i
                    class="fa fa-thumbs-up" aria-hidden="true"></i> Offers</a> <a href="#"><i
                    class="fa fa-glass" aria-hidden="true"></i> Cocktail Bar</a>
            </p>
        </div>
        <div class="col-xs-2 footercol">
            <h2>
                <span class="light">QA</span> Legal
            </h2>
            <p>
                <a href="#"><i class="fa fa-file-text" aria-hidden="true"></i>
                    Terms of Use</a> <a href="#"><i class="fa fa-file"
                                                    aria-hidden="true"></i> Privacy Policy</a>
            </p>
        </div>
        <div class="col-xs-2 footercol-right">
            <h2>
                <span class="light">QA</span> Social
            </h2>
            <p>
                <a href="#"><i class="fa fa-twitter-square fa-1x padright3"
                               aria-hidden="true"></i> Twitter </a> <a href="#"><i
                    class="fa fa-facebook-square fa-1x padright3" aria-hidden="true"></i>
                Facebook </a> <a href="#"><i
                    class="fa fa-snapchat-square padright3" aria-hidden="true"></i>
                Snapchat </a> <a href="#"><i
                    class="fa fa-youtube-square padright3" aria-hidden="true"></i>
                YouTube </a>
            </p>
        </div>
        <div class="col-xs-2"></div>
    </div>


    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <h1 class="text-center">
                <i class="fa fa-play-circle"></i> <span class="light">QA</span>
                Cinemas
            </h1>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="contactUsModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     ng-controller="contactController as contactCtrl">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <h1>Contact Us</h1>
                <form name="loginForm" class="cf">
                    <div class="half left cf wow animated fadeIn" data-wow-delay=".5s">
                        <input type="text" placeholder="Name" ng-model="contact.name">
                        <input type="email" placeholder="Email address"
                               ng-model="contact.email"> <input type="text"
                                                                placeholder="Subject" ng-model="contact.subject">
                    </div>
                    <div class="half right cf wow animated fadeIn">
							<textarea name="message" placeholder="Message"
                                      ng-model="contact.message"></textarea>
                        <button type="submit" class="btn btn-primary wide"
                                ng-click="contactCtrl.sendEmail(contact)">Submit
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>