html, body {
    background-color: #333;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 12px;
    color: #eee;
}

.film-info {
    padding-top: 150px;
    min-height: 100%;
    display: block;
}

.image-size {
    width: 300px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-left-150 {
    padding-left: 150px;
}