<!DOCTYPE html>


    <div ng-controller="getFilmController as ctrl">

        <h style = "font-size: 30px">{{ctrl.film.title}}</h>
        <br>
        <h style = "font-size: 30px"> {{ctrl.film.cast}}</h>
        <br>
        <h style = "font-size: 30px">{{ctrl.film.certification}}</h>
        <br>
        <h style = "font-size: 30px">{{ctrl.film.director}}</h>
        <br>
        <h style = "font-size: 30px">{{ctrl.film.duration}}</h>
        <br>
        <h style = "font-size: 30px">{{ctrl.film.genre}}</h>
        <br>
        <h style = "font-size: 30px"> {{ctrl.film.summary}}</h>
        <br>


        <ul>
            <!--var pathname = window.location.href;-->
                <h style = "font-size: 25px">Showings</h>
            <div class="row" style = "width:100%; padding:10px">

                <div class="col-sm-2" ng-repeat="showing in ctrl.film.showings">



                    <!--<td><button><a href="#/BookingTest" ng-controller="getShowingController as ctrl" ng-click= "Parsevariables(ctrl.showing.showingId)">{{showing.startTime}}</a></button></td>-->

                    <td><button><a href="#/BookingTest" >{{showing.startTime}}</a></button></td>


                </div>
            </div>
        </ul>

        <p> PLEASE WORK: <input type = "text" ng-model="name"></p>
         <p>{{name}}</p>

    </div>
<!--<script>-->
    <!--function ParseVariables() {-->
        <!--alert("HI Steve is cool");-->
    <!--}-->
<!--</script>-->


    </html>

</div>