
body {
    background-color: black;
    font-family: "Lato", sans-serif;
}

#gridofequals {

    margin: 0 auto;
    text-align: center;

}

.geInline {
    display: inline-block;

}


h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.top-films__title {
    width: 100%;
    display: block;
    font-family: "Lato", sans-serif;
    margin-top: 1em;
    font-size: 1em;
    letter-spacing: 1.5px;
    position: relative;
}

.title{
    cursor: pointer;
}
.image{
    height: 300px;
    width: 175px;
    border-radius: 10px;
}

.actionBox {
    border-radius: 10px;
    margin: 5px 10px;
    cursor: pointer;
    transform: scale(0.90);
    -webkit-transition: all 0.3s ease; /* Safari and Chrome */
    -moz-transition: all 0.3s ease; /* Firefox */
    -o-transition: all 0.3s ease; /* IE 9 */
    transition: all 0.3s ease;
}

.actionBox:hover {
    border-radius: 10px;
    box-shadow: 0 0 20px #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1); /* Safari and Chrome */
    -moz-transform:scale(1; /* Firefox */
    -ms-transform:scale(1); /* IE 9 */
}

#darkness {
    background: rgba(0, 0, 0, 0.8);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5!important;
}
